#main, html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    height: 100%;
    display: flex; 
    flex-direction: column;
    transition: filter 0.3s;
}

.top-bar {
    height: 60px;
    font-size: 28px;
    text-align: center;
    border-bottom: 1px solid #D3D3D3;
    background-color: #2C2C2D;
    color: white;
}

.top-bar p {
    margin-top: 12px;
}

.message {
    margin: 20px;
    height: 100px;
    text-align: center;
}

.body {
    flex: 1 1 0;
    margin: 20px;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
}

.card {
    position: relative;
    display: inline-block;
    width: 200px;
    border: 1px solid #C0C0C0;
    padding: 0;
    margin: 5px;
    border-radius: 3px;
    color: #2F4F4F;
}

.card:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.card .image {
    position: relative;
    margin: 10px 10px 5px 10px;
    width: 180px;
    height: 180px;
    border-radius: 5px;
}

.card .image .sold-overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #DC143C;
    text-align: center;
    color: white;
}

.card .image .reserved-overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #9932CC;
    text-align: center;
    color: white;
}

.card .title {
    margin: 5px 10px 5px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card .text {
    margin: 5px 10px 5px 10px;
}

.card .sub-text {
    font-size: 12px;
    text-align: center;
    color: #A9A9A9;
    user-select: none;
}

.red-button {
    background-color: #CB4E4E;
    font-size: 16px;
    color: white;
    border: none;
    padding: 5px 10px 5px 10px;
    border-radius: 2px;
}

.red-button:hover:enabled {
    background-color: #ab3c3c;
}

.blue-button {
    background-color: #4169E1;
    font-size: 16px;
    color: white;
    border: none;
    padding: 5px 10px 5px 10px;
    border-radius: 2px;
}

.blue-button:hover:enabled {
    background-color: #6A5ACD;
}

.blue-button:disabled {
    background-color: #1E90FF;
}

.container.blur {
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

.modal {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}

.modal.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
}

.modal-header {
    font-size: 26px;
    padding: 25px;
    border-bottom: 1px solid #A9A9A9;
}

.modal-body {
    padding: 25px;
    max-height: 70vh;
    overflow: auto;
    display: flex;
}

.modal-footer {
    padding: 25px;
    overflow: hidden;
    border-top: 1px solid #A9A9A9;
}

.modal-footer button {
    float: right;
    margin-left: 10px;
}